@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		font-family: "Poppins", system-ui, Sans-Serif, "Segoe UI";
	}
	
	html.dark {
		#root {
			background-image: radial-gradient(
				circle,
				rgba(9, 254, 254, 0.2) 10%,
				rgba(0, 0, 0, 0) 75%
			);
		}
	}
	#root {
		background: radial-gradient(
				circle,
				rgba(9, 254, 254, 0.125) 10%,
				rgba(0, 0, 0, 0) 75%
			)
			no-repeat 50px -175px;
		background-size: 500px 500px;
	}
	body {
		background: radial-gradient(
				circle,
				rgba(9, 254, 254, 0.125) 10%,
				rgba(0, 0, 0, 0) 70%
			)
			no-repeat calc(100% + 200px) calc(100% + 200px);
		background-size: 1000px 1000px;
		@media (max-width: 500px) {
			background-size: 700px 600px;
		}
	}
	code[class*="language-"],
	pre[class*="language-"] {
		@apply text-[#abb2bf] bg-[0] font-mono text-start whitespace-pre rounded-lg leading-[1.5em];
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		& * {
			@apply text-sm font-mono;
		}
	}
	pre[class*="language-"] {
		@apply px-4 py-3 my-2 overflow-auto;
	}
	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		@apply bg-[#292c35] dark:bg-[#1e2027];
	}
	:not(pre) > code[class*="language-"] {
		@apply whitespace-normal rounded-[0.3em] p-[0.1em];
	}
}

pre[class*="language-"].line-numbers {
	@apply relative pl-14;
	counter-reset: linenumber;
	& > code {
		@apply relative;
		white-space: inherit;
	}
	& .line-numbers-rows {
		@apply absolute pointer-events-none top-0 text-[100%] left-[-3.85em] w-12 tracking-[-1px] select-none;
		& > span {
			@apply block mb-[0.285em];
			counter-increment: linenumber;
			&::before {
				@apply content-[counter(linenumber)] text-[#5c6370] block pr-[0.8em] text-right font-mono;
			}
		}
	}
}

.token {
	&.block-comment,
	&.comment {
		color: #5c6370;
	}
	&.cdata,
	&.doctype,
	&.prolog {
		color: #7f848e;
	}
	&.important,
	&.punctuation {
		color: #abb2bf;
	}
	&.deleted,
	&.namespace,
	&.tag {
		color: #e2777a;
	}
	&.function-name {
		color: #6196cc;
	}
	&.function {
		color: #61afef;
	}
	&.attr-name,
	&.boolean,
	&.number {
		color: #d19a66;
	}
	&.property {
		color: #e06c75;
	}
	&.constant,
	&.class-name,
	&.symbol {
		color: #f8c555;
	}
	&.keyword,
	&.selector {
		color: #c678dd;
	}
	&.atrule,
	&.builtin {
		color: #cc99cd;
	}
	&.attr-value,
	&.char,
	&.regex,
	&.string,
	&.variable {
		color: #98c379;
	}
	&.operator {
		color: #56b6c2;
	}
	&.entity,
	&.url {
		color: #67cdcc;
	}
	&.bold,
	&.important {
		@apply font-bold;
	}
	&.italic {
		font-style: italic;
	}
	&.entity {
		@apply cursor-help;
	}
	&.inserted {
		@apply text-[green];
	}
}

.rainbow-braces .token.punctuation {
	&.brace-hover,
	&.brace-selected {
		@apply outline outline-1;
	}
	&.brace-level-1,
	&.brace-level-7 {
		@apply text-[#ffd700] opacity-100;
	}
	&.brace-level-2,
	&.brace-level-8 {
		@apply text-[#f472b6] opacity-100;
	}
	&.brace-level-3,
	&.brace-level-9 {
		@apply text-[#57afff] opacity-100;
	}
	&.brace-level-4,
	&.brace-level-10 {
		@apply text-[#7ce38b] opacity-100;
	}
	&.brace-level-5,
	&.brace-level-11 {
		@apply text-[#fb7185] opacity-100;
	}
	&.brace-level-6,
	&.brace-level-12 {
		@apply text-[#1edac1] opacity-100;
	}
}

@layer utilities {
	.article {
		@apply mb-4 pb-8 border-b [&_span.class]:text-primary [&_h3]:my-2 [&_p]:leading-8 [&_p.lead]:!text-base dark:[&_p.lead]:!text-zinc-400 [&_h1]:!font-bold [&_h1]:my-2 dark:[&_h1]:text-gray-50 dark:[&_ul]:text-gray-100 dark:[&_h3]:text-gray-50 dark:[&_p]:text-gray-200  [&_ul_span]:text-primary [&_ul_span]:font-medium;
	}
	.ripple {
		position: absolute;
		border-radius: 50%;
		transform: scale(0);
		animation: rippleAnimation 750ms linear;
		pointer-events: none;
	}
	@keyframes rippleAnimation {
		to {
			opacity: 0;
			transform: scale(5);
		}
	}
}
